@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body
{
background: rgb(241,203,168);
background: linear-gradient(153deg, rgba(241,203,168,1) 0%, rgba(234,233,236,1) 35%, rgba(40,108,251,0.6699054621848739) 100%);
width: 100%;
height: 100%;
background-repeat: no-repeat;
z-index: -1;
font-family: 'Noto Sans', sans-serif;
/* background: rgb(241,203,168);
background: linear-gradient(153deg, rgba(241,203,168,1) 0%, rgba(234,233,236,1) 61%, rgba(40,108,251,0.6699054621848739) 100%); */

}
.nav{
    background-color: transparent !important;
}
.cardlogin{
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.footer{
    background-color: transparent !important;
width: 100%;
height: 100%;
background-repeat: no-repeat;
z-index: -1;
color: #1f1e1e !important;

/* background: rgb(241,203,168); */
/* background: linear-gradient(153deg, rgba(241,203,168,1) 0%, rgba(234,233,236,1) 35%, rgba(40,108,251,0.6699054621848739) 100%); */
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d3d3d4; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c2c1c2; 
  }
